#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container{
  display: flex;
  height: 99dvh;
  justify-content: center;
  align-items: center;
}

.chessboard{
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  gap: 0px;
}

.square{
  display: grid;
  align-items: center;
}