body{
    display: grid;
}


.activity-section{
    display: flex;
}

.list-activity-selector{
    display: flex;
}

.container{
    width: 100%;
    display: grid;
    justify-content: center;
}

.list-activity-selector li{
    display: flex;
    justify-content: space-between;
}

.list-activity-selector button{
    height: 1rem;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20% 0;
}
.your-list{
    position: fixed;
    top: 30dvh;
    transition: all 500ms;
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    background-color: hsl(0, 0%, 87%);
    padding: 3rem 2rem;
    border-radius: 20px;
    z-index: 15;
    font-family: sans-serif;
  }