.activity-section{
    display: flex;
}

.list-activity-selector{
    display: flex;
}

.container{
    width: 100%;
    display: grid;
    justify-content: center;
}

.list-activity-selector li{
    display: flex;
    justify-content: space-between;
}

.list-activity-selector button{
    height: 1rem;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20% 0;
}