body {
    display: grid;
  }
  
  .activity-section {
    display: flex;
  }
  
  ul {
    margin-top: 0;
  }
  
  .searchBar-container {
    display: flex;
  }
  
  .list-activity-selector {
    display: flex;
  }
  
  .container {
    width: 100%;
    display: grid;
    justify-content: center;
  }
  
  .list-activity-selector li {
    display: flex;
    justify-content: space-between;
  }
  
  .list-activity-selector button {
    height: 1rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20% 0;
  }
  .your-list {
    position: fixed;
    top: 30dvh;
    transition: all 500ms;
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    background-color: hsl(0, 0%, 87%);
    padding: 3rem 2rem;
    border-radius: 20px;
    z-index: 15;
    font-family: sans-serif;
  }
  
  .headings-container div {
    display: flex;
    justify-content: space-evenly;
  }
  
  @media (max-width: 700px) {
    * {
      font-size: 1vh;
    }
    li {
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .list-activity-selector button {
      height: fit-content;
      padding: 0;
    }
  }
  
  @media (max-width: 700px) {
    * {
      font-size: 2vw;
    }
    li {
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .list-activity-selector button {
      height: fit-content;
      padding: 0;
    }
    .list-container {
      width: fit-content;
      padding: 0;
    }
  }
  
  @media (max-width: 840px) {
    form {
      display: flex;
      flex-direction: column;
    }
  
    .form-2 {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .searchBar-container {
      flex-direction: column;
    }
    .activity-section{
        padding-left: 0;
    }
    .activity-list{
        padding-left: 1vw;
    }
    ul{
        padding-left: 0;
    }

    .container{
        width: fit-content;
        margin-left: 2vw;
    }
  }